/*----------- Colors------------- */
$blackColor: #333;
$redColor: #F55C54;
$whiteColor: #F5F5F5;
$greyColor: #BDBDBD;

/*------------ Fonts-------------- */
@font-face {
	font-family: 'Aldrich';
	src: url("../fonts/Aldrich/Aldrich-Regular.ttf");
}

@font-face {
	font-family: 'Roboto';
	src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

$principalFont: 'Aldrich', sans-serif;

h1 {
	font-family: $principalFont;
	margin-top: 2em;
	margin-bottom: 1em;
	color :$redColor;
	text-align: center;
	font-size: 24px;
}

ul {
	list-style: none;
	display: flex;
}

li {
	flex-direction: row;
}
/*------------ Header-------------- */
header {
	display: flex;
	justify-content: space-between;
	background-color: $blackColor;
	color: $redColor;
	font-family: $principalFont;
	font-size: 20px;
	width:100%;
}

header img {
	max-width: 9em;
	margin-top: 0.5em;
	margin-left: 0.5em;
}

header a {
	text-decoration: none;
	color: $redColor;
}

.search-bar input {
	border: none;
	margin-top: 1em;
}
/*------------ Main (Home page)-------------- */
.container-home {
	width: 100%;
	display: flex;
}

.concept {
	width: 32em;
	background-color: $blackColor;
	padding: 1em;
	margin: 4em 0em 4em 15em;
}

.concept p {
	color: $whiteColor;
	padding: 2em;
}

.redTriangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 509px 229px 0 229px;
	border-color: $redColor transparent transparent transparent;
}

.blackTriangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 267.5px 595px 267.5px;
	border-color: transparent transparent $blackColor transparent;
}

/*------------ Main (Inscription)-------------- */
.container-register {
	width: 100%;
	display: flex;
	font-family: $principalFont;
}

.labels-register, .labels-login {
	margin-left: 2em;
	display: flex;
	flex-direction: column;
	width: 14em;
	color: $whiteColor;
}

.inputs-login, .inputs-register {
  width: 22em; }

.form-register {
  display: flex; }

.labels-register  label {
  margin-top: 1.7em; 
}

.labels-login label {
  margin-top: 1.2em; 
} 

.inputs-register input, .inputs-login input {
	border: none;
	margin-top: 1.7em;
}

.btn-register, .btn-login {
  font-family: "Aldrich", sans-serif;
  background-color: $blackColor;
  color: $redColor;
  border: none;
  padding: 1em; }

.btn-register:hover, .btn-login:hover {
	color: $whiteColor;
	cursor: pointer;
}

.button-register, .button-login {
	font-family: $principalFont;
	background-color: $redColor;
	color: $whiteColor;
	border: none;
	padding: 1em;
	margin-left:15em;
	margin-top: 3em;
}

.link-forgot {
  margin: 0.7em 0em 0em 14em;}

.link-forgot a {
  color: $greyColor; 
}
/*------------ Main Connexion)-------------- */
.container-connexion {
	width: 100%;
	display: flex;
	font-family: $principalFont;
}

/*------------ Footer-------------- */
footer {
	background-color: $blackColor;
	color: $whiteColor;
	width: 100%;
	display: flex;
}

footer p {
	text-align: center;
	list-style: none;
	flex-direction: row;
	margin-top: -3em;
}

footer ul {
	flex-direction: row;
}

footer i {
	color: $blackColor;
	background: $whiteColor;
	border-radius: 50%;
	border: 1px solid $whiteColor;
	padding: 0.5em;
}

footer li {
	margin-right: 1em;
}
.socialNetwork {
	margin-left: 35em;
	font-size: 24px;
}

footer a {
	color: $whiteColor;
}
