/*----------- Colors------------- */
$blackColor: #333;
$redColor: #F55C54;
$whiteColor: #F5F5F5;
$greyColor: #E0E0E0;
$darkGreyColor: #BDBDBD;
$greenPost: #6FCF97;
$orangePost: #FAA65C;
$redPost: #F46A6A;

/*------------ Fonts-------------- */
@font-face {
	font-family: 'Aldrich';
	src: url("../fonts/Aldrich/Aldrich-Regular.ttf");
}

@font-face {
	font-family: 'Roboto';
	src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

$principalFont: 'Aldrich', sans-serif;

h1 {
	font-family: $principalFont;
	margin-top: 2em;
	margin-bottom: 1em;
	color :$redColor;
	text-align: center;
	font-size: 24px;
}

ul {
	list-style: none;
	display: flex;
}

li {
	flex-direction: row;
}

/*------------ Body, HTML-------------- */
html, body {
	margin: 0;
}
/*------------ Header-------------- */
header {
	display: flex;
	justify-content: space-between;
	background-color: $blackColor;
	color: $redColor;
	font-family: $principalFont;
	font-size: 20px;
	width:100%;
}

header img {
	max-width: 9em;
	margin-top: 0.5em;
	margin-left: 0.5em;
}

header a {
	text-decoration: none;
	color: $redColor;
}

.search-bar input {
	border: none;
	margin-top: 1em;
}
/*------------ Main (Home page)-------------- */
.container-home {
	width: 100%;
	display: flex;
}

.concept {
	width: 28em;
	background-color: $blackColor;
	padding: 1em;
	margin: 3em 0em 6em 1em;
}

.concept-h1 {
  margin-top: 1em;}

.concept p {
	color: $whiteColor;
	padding: 2em;
}

.redTriangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 575px 229px 0 229px;
	border-color: $redColor transparent transparent transparent;
}

.blackTriangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 229px 575px 229px;
	border-color: transparent transparent $blackColor transparent;
	margin-top: -36em;
	margin-left: 15.5em;
}

/*------------ Main Inscription et Connexion-------------- */
.container-register, .container-connexion {
	width: 100%;
	display: flex;
	font-family: $principalFont;
}

.labels-register, .labels-login, .labels-addPost {
	margin-left: 2em;
	display: flex;
	flex-direction: column;
	width: 14em;
}

.labels-register, .labels-login {
	color: $whiteColor;
}

.inputs-login, .inputs-register, .inputs-addPost {
  width: 22em; }

.form-register, .formPost {
  display: flex; }

.labels-register  label {
  margin-top: 1.7em; 
}

.labels-login label {
  margin-top: 1.2em; 
} 

.inputs-register input, .inputs-login input {
	border: none;
	margin-top: 1.7em;
}

.btn-register, .btn-login, .btn-dashboard, .btn-addpost {
  font-family: "Aldrich", sans-serif;
  background-color: $blackColor;
  border: none;
  padding: 1em; }

.btn-register:hover, .btn-login:hover {
	color: $whiteColor;
	cursor: pointer;
}

.btn-register, .btn-login {
	color: $redColor;
}

.btn-dashboard, .btn-addpost {
	color: $blackColor;
	font-size: 4px;
}


.button-register, .button-login, .btn-delete-post, .btn-create-post {
	font-family: $principalFont;
	background-color: $redColor;
	color: $whiteColor;
	border: none;
	padding: 1em;
}

.button-register, .button-login {
  margin-left:15em;
  margin-top: 3em; 
}

.link-forgot {
  margin: 0.7em 0em 0em 14em;}

.link-forgot a {
  color: $greyColor; 
}

/*------------ Main Dashboard-------------- */
.mainDashboard {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.post-it {
	width: 17em;
	height: 14em;
	background-color: $greyColor;
	margin-top: 2em;
	margin-left: 2em;
	line-height: 14em;
	text-align: center;
}

.post-it i {
	color: $whiteColor;
	font-size: 48px;
	background: $redColor;
	border-radius: 50%;
	border: 1px solid $redColor;
	padding: 0.5em;
}

/*------------ Main AddPost-------------- */
.contain-addPost {
	width: 28em;
	height: 25em;
	background-color: $greyColor;
	margin-top: 4em;
}

.contain-addPost h1 {
margin-top: 1em;}

.labels-addPost {
	color: $blackColor;
	font-family: $principalFont;
}

.labels-addPost label {
	margin-top: 0.8em;
	width: 7em;
}

.labels-addPost label:nth-child(3n) {
  margin-top: 9.8em; 
}

.inputs-addPost input {
	margin-top: 0.8em;
	border: none;
	width: 14.3em;
	margin-left: -1em;
}

.inputs-addPost textarea {
	margin-top: 1em;
	 margin-left: -1em; 
	border: none;
}

.green-importance, .orange-importance, .red-importance {
	width: 0;
	height: 0;
	background-color: #F5F5F5;
	border-left: 22px solid transparent;
	border-right: 22px solid transparent;
	border-bottom: 40px solid #000;
	position: relative;
	margin: 0.5em;
	border-radius:50px; 
}

.green-importance {
	border-color: transparent transparent $greenPost transparent;
}

.orange-importance {
	border-color: transparent transparent $orangePost transparent;
}

.red-importance {
	border-color: transparent transparent $redPost transparent;
}

.triangles-importance {
	display: flex;
	margin-left: -1em;
}

.buttons-post {
	display: flex;
	margin: auto;
	justify-content: space-around;
}

.btn-delete-post, .btn-create-post {
  margin-top: 0.5em;}

/*------------ Footer-------------- */
footer {
	background-color: $blackColor;
	color: $whiteColor;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 4.6em;
	margin-top:-1.2em;
}

footer p {
	text-align: center;
	list-style: none;
	color: $darkGreyColor;
	padding-left: 1em;
}


footer i {
	color: $blackColor;
	background: $whiteColor;
	border-radius: 50%;
	border: 1px solid $whiteColor;
	padding: 0.5em;
}

footer i:hover {
	color: $whiteColor;
	cursor: pointer;
	background-color: $redColor;
}

footer ul {
	margin-top: 0.3em;
}

footer li {
	margin-right: 1em;
}
.socialNetwork {
	font-size: 24px;
}

footer a {
	color: $darkGreyColor;
}
